extends ../layout 

block contenido
    .content-wrapper
        // Content Header (Page header)
        .card-body
          .d-flex.justify-content-around
            a.btn.btn-primary(href="/productos/agregar") Agregar Producto
            a.btn.btn-secondary(href="/productos/inventario") Agregar al Inventario
            a.btn.btn-danger(href="/productos/inventario") Descartar Inventario
        .content-header
          .container-fluid
            .row.mb-2
              .col-sm-6
                h1.m-0 Inventario

        .card
          .card-header.border-0
            h3.card-title Lista de Productos
            .card-tools
              a.btn.btn-tool.btn-sm(href="#")
                i.fas.fa-download
              a.btn.btn-tool.btn-sm(href="#")
                i.fas.fa-bars

          .card-body.table-responsive.p-0
            table#productosTable.table.table-striped.table-valign-middle
              thead
                tr
                  th Producto
                  th Producto interno                  
                  th Unidad
                  th Bodega
                  th Cantidad
                  th Stock Bajo
                  th Proveedor
                  th Código Interno
                  th Código de Barras
                  th Precio
                  th Descripción
                  th Más
              tbody
                each producto, index in productos
                  tr
                    td= producto.nombre_producto
                    td= producto.nombre_producto_interno
                    td= producto.unidad
                    td= producto.bodega
                    td
                      if producto.cantidad_existente <= producto.stock_bajo
                        span.badge.bg-danger.text-white Stock Bajo!
                      else
                        | #{producto.cantidad_existente}
                    td= producto.stock_bajo
                    td= producto.proveedor
                    td= producto.codigo_interno
                    td= producto.codigo_barra
                    td= '$'+ producto.precio
                    td= producto.descripcion
                    td
                      button.btn.btn-info.btn-sm.collapsed(data-toggle="collapse" data-target=`#info${index}` aria-expanded="false" aria-controls=`info${index}`) Info
                  // Fila colapsable para detalles adicionales
                  tr.collapse.bg-light(id=`info${index}` style="transition-duration: 0.01s !important;")
                    td(colspan="12")
                      .p-2
                        p
                          strong Detalles Adicionales:
                        p
                          strong Ubicación de Almacenamiento:
                          | #{producto.ubicacion}
                        p
                          strong Fecha de Adquisición:
                          | #{producto.fecha_adquisicion}
                        p
                          strong Fecha de Expiración:
                          | #{producto.fecha_expiracion}

    // Scripts necesarios para DataTables y jQuery UI
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js")
    //script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    script.
      $(document).ready(function() {
        $('#productosTable').DataTable({
          "order": [[ 0, "asc" ]],
          "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-CL.json"
          }
        });

        $('.collapse').on('show.bs.collapse', function() {
          $(this).css('transition-duration', '0.0s');
        });

        $('.collapse').on('hide.bs.collapse', function() {
          $(this).css('transition-duration', '0s');
        });

        // Cambiar el texto del botón "Info" cuando se despliega o se colapsa
        //- $('#productosTable').on('click', '.btn-info', function() {
        //-   const isExpanded = $(this).attr('aria-expanded') === 'true';
        //-   $(this).text(isExpanded ? 'Info' : 'Cerrar');
        //- });
      });