extends ../layout

block contenido
  .content-wrapper
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0 Inventario
          .col-sm-6.text-right
            button.btn.btn-success(data-toggle="modal" data-target="#addProductoModal")
              i.fas.fa-plus
              |  Nuevo Producto
    // Main content
    section.content
      .container-fluid
        // Tabla de Productos
        h2 Productos
        table#productosTable.table.table-striped
          thead
            tr
              th ID
              th Nombre
              th Precio
              th Proveedor
              th Código de Barra
              th Acciones
          tbody
            each producto, index in productos
              tr
                td= producto.id
                td= producto.nombre_producto
                td= `$${producto.precio}`
                td= producto.proveedor_id
                td= producto.codigo_barra
                td
                  button.btn.btn-primary.btn-sm.mx-2(data-toggle="modal" data-target=`#detalleProductoModal${index}`)
                    i.fas.fa-eye
                    |  Detalles

                  // Modal de Detalles del Producto
                  .modal.fade(id=`detalleProductoModal${index}` tabindex="-1" role="dialog")
                    .modal-dialog.modal-lg(role="document")
                      .modal-content
                        .modal-header
                          h5.modal-title Detalles de Producto - #{producto.nombre_producto}
                          button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                        .modal-body
                          p Nombre: #{producto.nombre_producto}
                          p Precio: $#{producto.precio}
                          p Descripción: #{producto.descripcion}
                          p Proveedor: #{producto.proveedor_id}
                          p Código Interno: #{producto.codigo_interno}
                          p Código de Barra: #{producto.codigo_barra}
                        .modal-footer
                          button.btn.btn-secondary(type="button" data-dismiss="modal") Cerrar

        hr

        // Tabla de Inventario
        h2 Inventario
        table#inventarioTable.table.table-striped
          thead
            tr
              th ID
              th Tipo de Producto
              th Cantidad Total
              th Stock Mínimo
          tbody
            each item, idx in inventario
              tr
                td= item.id
                td= item.tipo_producto
                td= item.cantidad_total
                td= item.stock_minimo
                td
                  button.btn.btn-primary.btn-sm.mx-2(data-toggle="modal" data-target=`#detalleInventarioModal${idx}`)
                    i.fas.fa-eye
                    |  Detalles

                  // Modal de Detalles de Inventario
                  .modal.fade(id=`detalleInventarioModal${idx}` tabindex="-1" role="dialog")
                    .modal-dialog.modal-lg(role="document")
                      .modal-content
                        .modal-header
                          h5.modal-title Detalles de Inventario - #{item.tipo_producto}
                          button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                        .modal-body
                          p Tipo de Producto: #{item.tipo_producto}
                          p Cantidad Total: #{item.cantidad_total}
                          p Stock Mínimo: #{item.stock_minimo}
                        .modal-footer
                          button.btn.btn-secondary(type="button" data-dismiss="modal") Cerrar

        hr

        // Tabla de Movimientos
        h2 Movimientos de Productos
        table#movimientosTable.table.table-striped
          thead
            tr
              th ID
              th Producto
              th Tipo de Movimiento
              th Cantidad
              th Fecha
          tbody
            each movimiento, index in movimientos
              tr
                td= movimiento.id
                td= movimiento.producto_id 
                td= movimiento.tipo_movimiento
                td= movimiento.cantidad
                td= movimiento.fecha.toLocaleDateString('es-ES')
                td
                  button.btn.btn-primary.btn-sm.mx-2(data-toggle="modal" data-target=`#detalleMovimientoModal${index}`)
                    i.fas.fa-eye
                    |  Detalles

                  // Modal de Detalles del Movimiento
                  .modal.fade(id=`detalleMovimientoModal${index}` tabindex="-1" role="dialog")
                    .modal-dialog.modal-lg(role="document")
                      .modal-content
                        .modal-header
                          h5.modal-title Detalles del Movimiento - #{movimiento.tipo_movimiento}
                          button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                        .modal-body
                          p Producto: #{movimiento.producto_id}
                          p Tipo de Movimiento: #{movimiento.tipo_movimiento}
                          p Cantidad: #{movimiento.cantidad}
                          p Fecha: #{movimiento.fecha.toLocaleDateString('es-ES')}
                        .modal-footer
                          button.btn.btn-secondary(type="button" data-dismiss="modal") Cerrar