extends ../layout

block contenido
    .container.mt-5
      .card
        .card-header.bg-primary.text-white
          h3.card-title Detalles del Producto
        .card-body
          .row
            .col-md-6
              p
                strong Unidad:
                |  #{producto.unidad}
            .col-md-6
              p
                strong Bodega:
                |  #{producto.bodega}
          .row
            .col-md-6
              p
                strong Cantidad Existente:
                |  #{producto.cantidad_existente}
            .col-md-6
              p
                strong Stock Bajo:
                |  #{producto.stock_bajo}
          .row
            .col-md-6
              p
                strong Proveedor:
                |  #{producto.proveedor}
            .col-md-6
              p
                strong Código Interno:
                |  #{producto.codigo_interno}
          .row
            .col-md-6
              p
                strong Código de Barra:
                |  #{producto.codigo_barra}
            .col-md-6
              p
                strong Precio:
                |  #{producto.precio}
          .row
            .col-md-12
              p
                strong Descripción:
                |  #{producto.descripcion}
          hr
          h5.mt-4 Detalle de Movimientos
          table.table.table-bordered.table-striped.mt-3
            thead
              tr
                th Fecha de Movimiento
                th Cantidad de Salida
                th Cantidad de Entrada
                th Proveedor o Encargado
            tbody
                tr
                  td 12/12/2021
                  td 10
                  td 0
                  td Proveedor 1
                tr
                  td 13/12/2021
                  td 20
                  td 0
                  td Proveedor 1
                tr
                  td 14/12/2021
                  td 10
                  td 0
                  td Proveedor 1
                tr
                  td 15/12/2021
                  td 10
                  td 0
                  td Proveedor 1
        .card-footer
          a.btn.btn-primary(href="/inventario/lista_inventario") Volver a Productos
          a.btn.btn-secondary.ml-2(href=`/productos/edit/${producto.id}`) Editar Producto
          
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="https://adminlte.io/themes/v3/plugins/bootstrap/js/bootstrap.bundle.min.js")
