doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name="csrf-token" content=csrfToken)
  title Grimu
  // Google Font: Source Sans Pro
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback')
  // Font Awesome Icons
  link(rel='stylesheet' href='/plugins/fontawesome-free/css/all.min.css')
  // overlayScrollbars
  link(rel='stylesheet' href='/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')
  // AdminLTE Theme style
  link(rel='stylesheet' href='/dist/css/adminlte.min.css')
  // DataTables Styles (integración con AdminLTE)
  link(rel='stylesheet' href='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')
  link(rel='stylesheet' href='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')
  link(rel='stylesheet' href='/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')

.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-dark
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu' href='#' role='button')
          i.fas.fa-bars
      li.nav-item
        a.nav-link(href='/autenticacion/logout') Salir
  aside.main-sidebar.sidebar-dark-primary.elevation-4
    a(href="/dashboard") 
      img.brand-image(src="/img/logo.png", alt="Logo", style="opacity: .8; width: 60%; display: block; margin: 0 auto; filter: brightness(0) invert(1);")

    .sidebar
      .user-panel.mt-2.pb-2.mb-3.d-flex
        //.image
        //  img.img-circle.elevation-2(src='dist/img/user2-160x160.jpg' alt='User Image')
      div.text-center
        //p.text-white.text-center.font-d #{req.session.usuarioNombre}  
        //- p.text-white.text-center(style="font-size: 0.7em") #{req.session.empresaNombre}
        p.text-white.text-center.font-d= #{usuario.nombre} - #{usuario.empresa}
        p.text-white.text-center.font-d= #{usuario.nombre} - #{usuario.empresa}
        //p.text-white.text-center.font-d #{usuario}
        //p.text-white.text-center(style="font-size: 0.7em") #{empresa}
        //a.d-block(href='#') Usuario - Ti
      nav.mt-2
        ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
          li.nav-item.mt-2
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-laptop-code
              p
                | Documentos
                i.fas  
          li.nav-item.mt-2
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-file-alt
              p
                | Pagos
                i.fas   
          li.nav-item.mt-2
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-calendar-day
              p
                | Solicitudes
                i.fas   
          li.nav-item.mt-2
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-chart-pie
              p
                | Reclamos
                i.fas      
          li.nav-item.mt-2(class= typeof pagina_activa !== 'undefined' && ['usuarios'].includes(pagina_activa) ? 'menu-open' : '')
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-boxes
              p
                | Asistencia
                i.fas.fa-angle-left.right
    // sidebar
  block contenido
// Scripts requeridos
// jQuery
script(src='/plugins/jquery/jquery.min.js')
// Bootstrap
script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
// overlayScrollbars
script(src='/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// DataTables Scripts
script(src='/plugins/datatables/jquery.dataTables.min.js')
script(src='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')
script(src='/plugins/datatables-responsive/js/dataTables.responsive.min.js')
script(src='/plugins/datatables-buttons/js/dataTables.buttons.min.js')
// AdminLTE App
script(src='/dist/js/adminlte.js')
