extends ../layout 

block contenido
  .content-wrapper
    .content-header
      .container-fluid
              
        .row
          .col-sm-4.text-right.my-2
            form.inline-form(action="/ruta/para/filtrar/banco" method="GET")
              select#banco.form-control(name="banco" onchange="this.form.submit()")
                each banco in bancos
                  option(value=banco.id selected=bancoSeleccionado === banco.id) #{banco.nombre + ' - ' + banco.cuenta}
          
                
        .row
          .col-4
            .info-box.mb-3.bg-info
              span.info-box-icon
                i.fas.fa-dollar-sign
              .info-box-content
                span.info-box-text Monto Actual
                span.info-box-number= `$${montoActual}`
          .col-4
            .info-box.mb-3.bg-success
              span.info-box-icon
                i.fas.fa-calendar-week
              .info-box-content
                span.info-box-text Monto Últimos 7 Días
                span.info-box-number= `$${montoUltimos7Dias}`
          .col-4
            .info-box.mb-3.bg-warning
              span.info-box-icon
                i.fas.fa-calendar-alt
              .info-box-content
                span.info-box-text Monto Últimos 30 Días
                span.info-box-number= `$${montoUltimos30Dias}`



        .row.mb-2
          .col-sm-6
            h1.m-0 Movimientos Bancarios - Banco #{banco}
          .col-sm-6.text-right
            button.btn.btn-success(data-toggle="modal" data-target="#addMovimientoModal") 
              i.fas.fa-plus
              |  Nuevo Movimiento
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
      .container-fluid
        table#movimientosTable.table.table-striped
          thead
            tr
              th Fecha
              th Detalle
              th Gasto
              th Abono
              th Monto Actual
              th Acciones
          tbody
            each movimiento, index in movimientos
              tr
                td= movimiento.fecha.toLocaleDateString('es-ES', { day: '2-digit', month: '2-digit', year: 'numeric' })
                td= movimiento.detalle
                td.text-danger= movimiento.tipo === 'gasto' ? `-$${movimiento.monto}` : ''
                td.text-success= movimiento.tipo === 'abono' ? `+$${movimiento.monto}` : ''
                td.text-primary= `$${movimiento.saldoAcumulado}`
                td
                  button.btn.btn-primary.btn-sm.mx-2(data-toggle="modal" data-target=`#detalleMovimientoModal${index}`) 
                    i.fas.fa-eye

                  // Modal de Detalles del Movimiento
                  .modal.fade(id=`detalleMovimientoModal${index}` tabindex="-1" role="dialog")
                    .modal-dialog.modal-lg(role="document")
                      .modal-content
                        .modal-header
                          h5.modal-title Detalles de Movimiento - #{movimiento.detalle}
                          button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                        .modal-body
                          p Fecha: #{movimiento.fecha.toLocaleDateString('es-ES')}
                          p Detalle: #{movimiento.detalle}
                          if movimiento.tipo === 'gasto'
                            p.text-danger Gasto: -$#{movimiento.monto}
                          else
                            p.text-success Abono: +$#{movimiento.monto}
                          p.text-primary Saldo Acumulado: $#{movimiento.saldoAcumulado}
                        .modal-footer
                          button.btn.btn-secondary(type="button" data-dismiss="modal") Cerrar

      // Scripts de jQuery, DataTables, Popper y Bootstrap
      script(src="https://code.jquery.com/jquery-3.3.1.min.js")
      script(src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
      script.
        new DataTable('#movimientosTable',{
          "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json",
          }
        })
