extends ../layout 

block contenido
  .content-wrapper
    .content-header
      .container-fluid
        .row
          .col-12.col-sm-6.col-md-3
            .info-box
              span.info-box-icon.bg-info.elevation-1
                i.fas.fa-file-invoice
              .info-box-content
                span.info-box-text Pendientes de pago
                span.info-box-number
                  | 18
          .col-12.col-sm-6.col-md-3
            .info-box.mb-3
              span.info-box-icon.bg-info.elevation-1
                i.fas.fa-dollar-sign
              .info-box-content
                span.info-box-text Monto pendiente
                span.info-box-number $5.410.567
          .clearfix.hidden-md-up
          .col-12.col-sm-6.col-md-3
            .info-box.mb-3
              span.info-box-icon.bg-warning.elevation-1
                i.fas.fa-file-invoice
              .info-box-content
                span.info-box-text A vencer (7 días)
                span.info-box-number 5
          .col-12.col-sm-6.col-md-3
            .info-box.mb-3
              span.info-box-icon.bg-warning.elevation-1
                i.fas.fa-dollar-sign
              .info-box-content
                span.info-box-text Monto a vencer (7 días)
                span.info-box-number $1.800.000
        .row.mb-2
          .col-sm-6
            h1.m-0 Facturas Emitidas
          .col-sm-6.text-right
            button.btn.btn-success(data-toggle="modal" data-target="#addFacturaModal") 
              i.fas.fa-plus
              |  Nueva Factura

        section.content
          .container-fluid
            table#facturasEmitidasTable.table.table-striped
              thead
                tr
                  th Fecha de Emisión
                  th Número
                  th Cliente
                  th Monto
                  th Estado de Pago
                  th Acciones
              tbody
                each factura, index in facturasEmitidas
                  tr
                    td= factura.fecha_emision.toLocaleDateString('es-ES')
                    td= factura.numero_factura
                    //td= factura.cliente.nombre_cliente
                    td= "Nombre cliente"
                    td= factura.monto.toLocaleString('es-ES', { style: 'currency', currency: 'CLP' })
                    td= factura.estado_pago ? 'Pagado' : 'Pendiente'
                    td
                      button.btn.btn-primary.btn-sm.mx-2(data-toggle="modal" data-target=`#detalleModal${index}`) 
                        i.fas.fa-eye
                        |  Detalles

                      // Modal de Detalles de Factura Emitida
                      .modal.fade(id=`detalleModal${index}` tabindex="-1" role="dialog")
                        .modal-dialog.modal-lg(role="document")
                          .modal-content
                            .modal-header
                              h5.modal-title Detalles de Factura - #{factura.numero_factura}
                              button.close(type="button" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                            .modal-body
                              p Número de Factura: #{factura.numero_factura}
                              p Fecha de Emisión: #{factura.fecha_emision.toLocaleDateString('es-ES')}
                              //p Cliente: #{factura.cliente.nombre_cliente}
                              p Cliente: Nombre cliente
                              p Monto: #{factura.monto.toLocaleString('es-ES', { style: 'currency', currency: 'CLP' })}
                              p Estado de Pago: #{factura.estado_pago ? 'Pagado' : 'Pendiente'}
                            .modal-footer
                              button.btn.btn-secondary(type="button" data-dismiss="modal") Cerrar

        .modal.fade#addFacturaModal(tabindex="-1" role="dialog")
          .modal-dialog.modal-lg(role="document")
            .modal-content
              .modal-header
                h5.modal-title Nueva Factura Emitida
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
              .modal-body
                form(action="/finanzas/facturas_emitidas/agregar" method="POST")
                  input(type="hidden" name="_csrf" value=csrfToken) 
                  
                  // Número de Factura
                  .form-group
                    label(for="numero_factura") Número de Factura
                    input#numero_factura.form-control(type="text" name="numero_factura" required)

                  // Fecha de Emisión
                  .form-group
                    label(for="fecha_emision") Fecha de Emisión
                    input#fecha_emision.form-control(type="date" name="fecha_emision" required)

                  // Fecha de Vencimiento
                  .form-group
                    label(for="fecha_vencimiento") Fecha de Vencimiento
                    input#fecha_vencimiento.form-control(type="date" name="fecha_vencimiento" required)

                  // Cliente
                  .form-group
                    label(for="cliente") Cliente
                    select#cliente.form-control(name="forma_pago" required)
                      option(value="cliente1") Cliente 2
                      option(value="cliente2") Cliente 1
                    //select#cliente.form-control(name="clienteId" required)
                    //  each cliente in clientes
                    //    option(value=cliente.id)= cliente.nombre_cliente

                  // Monto
                  .form-group
                    label(for="monto") Monto
                    input#monto.form-control(type="number" step="0.01" name="monto" required)

                  // Forma de Pago
                  .form-group
                    label(for="forma_pago") Forma de Pago
                    select#forma_pago.form-control(name="forma_pago" required)
                      option(value="efectivo") Efectivo
                      option(value="transferencia") Transferencia
                      option(value="tarjeta") Tarjeta
                      option(value="cheque") Cheque

                  // Estado de Pago
                  .form-group
                    label(for="estado_pago") Estado de Pago
                    select#estado_pago.form-control(name="estado_pago" required)
                      option(value="1") Pagado
                      option(value="0") Pendiente

                  button.btn.btn-primary(type="submit") Guardar
              .modal-footer
                button.btn.btn-secondary(type="button" data-dismiss="modal") Cerrar


      //- // Scripts para DataTables y Bootstrap
      //- script(src="https://code.jquery.com/jquery-3.3.1.min.js")
      //- script(src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js")
      //- script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
      //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
      script.
        new DataTable('#facturasTable',{
          "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json",
          }
        })
